extends ../../components/layout.jade

block nav
	- var nav = "Geography"
	- var path = "../"

block css
	link(rel='stylesheet', href='../css/global.css')

block content
	include ../../html/md/geography.html

block side
	include ../../html/md/geo-side.html