extends ../../components/layout.jade

block nav
	- var nav = "Demographics"
	- var path = "../"

block css
	link(rel='stylesheet', href='../css/global.css')

block content
	include ../../html/md/demo.html

block side
	include ../../html/md/demo-side.html