block path
	if path != '../'
		-path = ""

block nav

doctype html
html
	head
		meta(charset="UTF-8")
		title=  nav + " - SVA - Summer 2017 HTML"
		link(rel='stylesheet', href=path+'css/global.css')
	body
		.container
			nav.global-nav
				include ../components/nav.jade
			header.global-header
				h1 New York State
				p.tagline The Empire State
			section.content-area
				article.main-content
					block content
				aside.secondary-contnet
					.info
						block side
			footer.global-footer
				p &copy; 2016 SVA HTML
					a(href="http://www.svahtml.com")
