block path
	if path != '../'
		-path = ""

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title SVA HTML - Summer 2018
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat')
		link(rel='stylesheet', href=path+'css/global.css')
	body
		.container
			nav.global-nav
				include ../components/nav.jade
			header.global-header
				h1 New York State
				p.tagline The Empire State
			section.content-area
				article.main-content
					block content
				aside.secondary-content
					.info
						block side
			footer.global-footer
				p &copy; 2018 SVA HTML
					a(href="http://www.svahtml.com")
