doctype html
html
	head
		title Fall 2015 HTML -- SVA 
		block css
			link(rel='stylesheet', href='css/global.css')
	body
		.container		
			nav.global-nav
				include ../components/nav.jade
				
			header.global-header					
				h1 New York State
				p.tagline The Empire State				
			section.content-area
				article.main-content
					block content
				aside.secondary-contnet
					.info
						block side
			footer.global-footer
				p &copy; 2015 SVA HTML
					a(href="http://www.svahtml.com")
