- var navItems = {'Home': 'index.html', 'History': 'history/index.html', 'Geography' : 'geography/index.html', 'Major cities' : 'cities/index.html', 'Demographics' : 'demographics/index.html', 'Transportation' : 'transportation/index.html', 'Sports' : 'sports/index.html'}

block path
	if path != '../'
		-path = ""

block nav
ul
	each index, val in navItems
		if nav == val
			li
				a(href= path + index, class='active')= val
		else
			li
				a(href= path + index)= val

			
			
