extends ../../components/layout.jade

block nav
	- var nav = "Sports"

block path
	- var path = "../"

block content
	include:markdown ../../content/sports.md

block side
	include:markdown ../../content/sports-side.md
