@import url(http://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat);

@color0: rgb( 80, 183, 241 );
@color1: rgb( 255, 225, 26 );
@color2: rgb( 0, 67, 88 );
@color3: rgb( 190, 219, 57 );
@color4: rgb( 31, 138, 112 );
@color5: rgb( 253, 116, 0 );

@gray: #b7b7b7;

@total: 1000px;
@main: 750px;
@side: @total - @main;

* {
	box-sizing: border-box;
}

body {
	font: 16px arial;
	margin: 0;
	background-color: #c0c0c0;
	color: #333333;
}

h1, h2, h3, h4, p, figure {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: @color2;
}

.container {
	max-width: @total;
	margin: 1em auto;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
}

.global-header {
	padding: 1em;
	background-color: @color0;
	text-align: center;
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 3em;
		color: @color1;
		letter-spacing: -1px;
	}
	.tagline {
		font-size: 1.5em;
		font-family: 'Homemade Apple', cursive;
		color: white;
	}
}

.global-nav {
	background: @color1;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
	}
	a {
		display: block;
		padding: 1em;
		color: black;
		text-decoration: none;
		&:hover, &.active {
			background-color: spin(@color1, -20%);
		}
	}
}

.content-area {
	display: flex;
}

.main-content {
	box-sizing: border-box;
	flex: 1;
	padding: 3em;
	background-color: #fff;

	h2 {
		font-size: 45px;
		color: @color0;
	}

	h3 {
		color: @color2;
		font-size: 20px;
		border-bottom: 1px solid @gray;
		padding-bottom: 5px;
		margin: 30px 0 10px;
	}

	p {
		margin: 1em 0;
		line-height: 1.5em;
	}

	ul {
		margin: 1em 0;
		padding-left: 20px;
		li {
			margin: 5px 0;
			line-height: 1.5em;
		}
	}
}

table {
	border-collapse: collapse;
	border: 1px solid @gray;
	width: 100%;
	th, td {
		padding: 5px 10px;
		border: 1px solid @gray;
	}
	th {
		background-color: @color0;
		text-align: left;
		color: white;
	}
	td {

	}
}

.photo-right {
	float: right;
	margin-left: 1em;
	background-color: #ffffff;
	border: 1px solid @gray;
	padding: 1em;
	p {
		margin: 0;
		text-align: center;
	}
}

.photo-left {
	float: left;
	margin-right: 1em;
	border: 1px solid @gray;
	background-color: #ffffff;
	padding: 1em;
	p {
		margin: 0;
		text-align: center;
	}
}

.secondary-contnet {
	flex: 0 0 @side;
	background: @color2;
	.info {
		font-size: 14px;
		background-color: #ffffff;
		padding: 1em;
		margin: 1em;
		h2 {
			font-size: 18px;
			color: @color0;
			border-bottom: 1px solid @gray;
			margin-bottom: .5em;
			padding-bottom: 2px;
		}
		p {
			margin: .5em 0;
		}
		ul {
			margin: 1em;
			padding-left: 5px;
		}
	}
}

.global-footer {
	border-top: 2px solid black;
	background-color: lighten(@color0, 10%);
	padding: 1em;
	text-align: right;
	color: white;
}
