extends ../../components/layout.jade

block nav
	- var nav = "Transportation"
	- var path = "../"

block css
	link(rel='stylesheet', href='../css/global.css')

block content
	include ../../html/md/sports.html

block side
	include ../../html/md/sports-side.html